{% extends 'loan_app/base.html' %}
{% load static %}
{% block title %}Steller Finance | Personal & Business Loans UK {% endblock title %}
{% block meta_keywords %}Steller Finance, UK loans, personal loans UK, business loans UK, loan introducer, finance solutions.{% endblock %}
{% block meta_description %}Tailored personal & business loan introductions across the UK. Clear guidance and fast lender access.{% endblock %}
{% block content %}
<!-- Navbar & Hero Start -->
<div class="container-fluid nav-bar px-0 px-lg-4 py-lg-0">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light"> 
            <a href="#" class="navbar-brand p-0">
                <img src="{% static 'loan_app/assets/steller-logo.png' %}" alt="Logo" style="width: 200px;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav mx-0 mx-lg-auto">
                    <a href="{% url 'home' %}" class="nav-item nav-link active">Home</a>
                    <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
                    <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
                    <a href="{% url 'check_status' %}" class="nav-item nav-link">Check&nbsp;Status</a>
                    <a href="{% url 'loan_step' 1 %}" class="nav-item nav-link bg-primary text-white ms-2">Apply&nbsp;Now</a>
                </div>
            </div>
            <div class="d-none d-xl-flex flex-shrink-0 ps-4">
                <a href="tel:+02039512735" class="btn btn-light btn-lg-square rounded-circle position-relative wow tada" data-wow-delay=".9s">
                    <i class="fa fa-phone-alt fa-2x"></i>
                    <div class="position-absolute" style="top: 7px; right: 12px;">
                        <span><i class="fa fa-comment-dots text-secondary"></i></span>
                    </div>
                </a>
                <div class="d-flex flex-column ms-3">
                    <span>Call to Our Experts</span>
                    <a href="tel:+4402039512735"><span class="text-dark">Free: +44 020 3951 2735</span></a>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar & Hero End -->

<!-- Carousel Start -->
<div class="header-carousel owl-carousel">
    <div class="header-carousel-item bg-primary">
        <div class="carousel-caption">
            <div class="container">
                <div class="row g-4 align-items-center">
                    <div class="col-lg-7 animated fadeInLeft">
                        <div class="text-sm-center text-md-start">
                            <h4 class="text-white text-uppercase fw-bold mb-4">Welcome To <br> Steller Investment & Finance Solution LTD.</h4>
                            <h1 class="display-1 text-white mb-4">A Simple And Stress Free Procedure</h1>
                            <p class="mb-5 fs-5">Easy-to-follow process that minimizes confusion and unnecessary steps. It is designed for accessibility and efficiency, ensuring a smooth experience.
                            </p>
                            <div class="d-flex justify-content-center justify-content-md-start flex-shrink-0 mb-4">
                                <a class="btn btn-light rounded-pill py-3 px-4 px-md-5 me-2" href="{% url 'loan_step' 1 %}">Apply Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 animated fadeInRight">
                        <div class="calrousel-img" style="object-fit: cover;">
                            <img src="{% static 'loan_app/assets/carousel-2.png' %}" class="img-fluid w-100" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->

<!-- About Start -->
<div class="container-fluid bg-light about pb-5 mt-5">
    <div class="container pb-5">
        <div class="row g-5">
            <div class="col-xl-6 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="about-item-content bg-white rounded p-5 h-100">
                    <h4 class="text-primary">About Steller Finance</h4>
                    <h1 class="display-4 mb-4">Steller Investment & Finance Solution LTD.</h1>
                    <p>Steller Finance is a trusted partner in navigating the complexities of financial services. We are not merely a loan introducer; we act as dedicated advisers, identifying and securing appropriate financing solutions tailored to each client’s circumstances. From initial consultation through to completion and post-funding support, we provide clear, professional guidance to ensure informed decision‑making and reliable outcomes.
                    </p>
                    <p class="text-dark"><i class="fa fa-check text-primary me-3"></i>Bespoke financing solutions, delivered with professional rigour.</p>
                    <p class="text-dark"><i class="fa fa-check text-primary me-3"></i>Comprehensive guidance from enquiry to funding and beyond.</p>
                    <p class="text-dark mb-4"><i class="fa fa-check text-primary me-3"></i>Committed to providing enduring financial support.</p>
                    <a class="btn btn-primary rounded-pill py-3 px-5" href="{% url 'about' %}">More Information</a>
                </div>
            </div>
            <div class="col-xl-6 wow fadeInRight" data-wow-delay="0.2s">
                <div class="bg-white rounded p-5 h-100">
                    <div class="row g-4 justify-content-center">
                        <div class="col-12">
                            <div class="rounded bg-light">
                                <img src="{% static 'loan_app/assets/image_home1.png' %}" class="img-fluid rounded w-100" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Service Start -->
<div class="container-fluid service py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary">Our Services</h4>
            <h1 class="display-4 mb-4">We Provide Best Services</h1>
            <p class="mb-0">We understand that financial needs vary widely. That's why we offer a diverse range of loans tailored to meet your specific requirements. Whether you're looking to cover business expenses, consolidate debt, or fund personal projects, our loan options are designed to support you every step of the way.
            </p>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="{% static 'loan_app/assets/business_expense.png' %}" class="img-fluid rounded-top w-100" alt="">
                        <div class="service-icon p-3">
                            <i class="fa fa-users fa-2x"></i>
                        </div>
                    </div>
                    <div class="service-content p-4">
                        <div class="service-content-inner">
                            <a href="#" class="d-inline-block h5 mb-4">Business Expenses Loan</a>
                            <p class="mb-4">Need cash to cover payroll, suppliers or stock? Our business expenses loans provide flexible funding that works with your cashflow — we’ll help you find an option that keeps your business moving.</p>
                            <a class="btn btn-primary rounded-pill py-2 px-4" href="{% url 'business_expense_loan' %}">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.4s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="{% static 'loan_app/assets/Debt_consolidation.png' %}" class="img-fluid rounded-top w-100" alt="">
                        <div class="service-icon p-3">
                            <i class="fa fa-car fa-2x"></i>
                        </div>
                    </div>
                    <div class="service-content p-4">
                        <div class="service-content-inner">
                            <a href="#" class="d-inline-block h5 mb-4">Debt Consolidation Loan</a>
                            <p class="mb-4">Tired of juggling several repayments? We can help you combine debts into a single loan with a clear monthly payment, making budgeting easier and giving you more control.</p>
                            <a class="btn btn-primary rounded-pill py-2 px-4" href="{% url 'debt_consolidation_loan' %}">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.6s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="{% static 'loan_app/assets/Education_cost.png' %}" class="img-fluid rounded-top w-100" alt="">
                        <div class="service-icon p-3">
                            <i class="fa fa-home fa-2x"></i>
                        </div>
                    </div>
                    <div class="service-content p-4">
                        <div class="service-content-inner">
                            <a href="#" class="d-inline-block h5 mb-4">Education Cost Loans</a>
                            <p class="mb-4">Planning for tuition, accommodation or course materials? We arrange loans with repayment plans that suit study timelines and help you focus on learning, not finances.</p>
                            <a class="btn btn-primary rounded-pill py-2 px-4" href="{% url 'education_cost_loan' %}">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.8s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="{% static 'loan_app/assets/Emergency_expense.png' %}" class="img-fluid rounded-top w-100" alt="">
                        <div class="service-icon p-3">
                            <i class="fa fa-hospital fa-2x"></i>
                        </div>
                    </div>
                    <div class="service-content p-4">
                        <div class="service-content-inner">
                            <a href="#" class="d-inline-block h5 mb-4">Emergency Expenses Loan</a>
                            <p class="mb-4">Facing an unexpected bill or urgent repair? Our emergency loans are designed to get funds quickly while making sure repayments stay manageable.

                            </p>
                            <a class="btn btn-primary rounded-pill py-2 px-4" href="{% url 'emergency_expense_loan' %}">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-4 justify-content-center mt-5">
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="{% static 'loan_app/assets/Home_improvement.png' %}" class="img-fluid rounded-top w-100" alt="">
                        <div class="service-icon p-3">
                            <i class="fa fa-home fa-2x"></i>
                        </div>
                    </div>
                    <div class="service-content p-4">
                        <div class="service-content-inner">
                            <a href="#" class="d-inline-block h5 mb-4">Home Improvements Loan</a>
                            <p class="mb-4">Thinking of renovating or upgrading your home? We’ll help you find finance that matches your project schedule and budget, so improvements don’t derail your finances.</p>
                            <a class="btn btn-primary rounded-pill py-2 px-4" href="{% url 'home_improvement_loan' %}">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.4s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="{% static 'loan_app/assets/One_of_purchase.png' %}" class="img-fluid rounded-top w-100" alt="">
                        <div class="service-icon p-3">
                            <i class="fa fa-shopping-cart fa-2x"></i>
                        </div>
                    </div>
                    <div class="service-content p-4">
                        <div class="service-content-inner">
                            <a href="#" class="d-inline-block h5 mb-4">One of Purchases Loan</a>
                            <p class="mb-4">Big purchase coming up? Spread the cost over time with a one-off purchase loan that keeps your savings intact and payments predictable.</p>
                            <a class="btn btn-primary rounded-pill py-2 px-4" href="{% url 'one_of_purchase_loan' %}">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.6s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="{% static 'loan_app/assets/Personal_expence.png' %}" class="img-fluid rounded-top w-100" alt="">
                        <div class="service-icon p-3">
                            <i class="fa fa-credit-card fa-2x"></i>
                        </div>
                    </div>
                    <div class="service-content p-4">
                        <div class="service-content-inner">
                            <a href="#" class="d-inline-block h5 mb-4">Personal Expenses Loan</a>
                            <p class="mb-4">For day-to-day or unexpected personal costs, our flexible personal loans give you borrowing options that consider your situation and affordability.</p>
                            <a class="btn btn-primary rounded-pill py-2 px-4" href="{% url 'personal_expense_loan' %}">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.8s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="{% static 'loan_app/assets/Travel_expence.png' %}" class="img-fluid rounded-top w-100" alt="">
                        <div class="service-icon p-3">
                            <i class="fa fa-car fa-2x"></i>
                        </div>
                    </div>
                    <div class="service-content p-4">
                        <div class="service-content-inner">
                            <a href="#" class="d-inline-block h5 mb-4">Travel Expenses Loan</a>
                            <p class="mb-4">Want to book a trip now and pay later? We offer travel finance with clear terms so you can plan your holiday without worrying about a large upfront payment.
                            </p>
                            <a class="btn btn-primary rounded-pill py-2 px-4" href="{% url 'travel_expense_loan' %}">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.8s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="{% static 'loan_app/assets/Vehicle.png' %}" class="img-fluid rounded-top w-100" alt="">
                        <div class="service-icon p-3">
                            <i class="fa fa-car fa-2x"></i>
                        </div>
                    </div>
                    <div class="service-content p-4">
                        <div class="service-content-inner">
                            <a href="#" class="d-inline-block h5 mb-4">Vehicle Expenses Loan</a>
                            <p class="mb-4">From repairs to new vehicle purchases, we find suitable finance options that help you stay on the road — whether it’s for personal use or business.
                            </p>
                            <a class="btn btn-primary rounded-pill py-2 px-4" href="{% url 'vehicle_expense_loan' %}">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.8s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="{% static 'loan_app/assets/Wedding_event.png' %}" class="img-fluid rounded-top w-100" alt="">
                        <div class="service-icon p-3">
                            <i class="fa fa-car fa-2x"></i>
                        </div>
                    </div>
                    <div class="service-content p-4">
                        <div class="service-content-inner">
                            <a href="#" class="d-inline-block h5 mb-4">Wedding Or Event Loan</a>
                            <p class="mb-4">Planning a wedding or special event? Our event loans help you spread the cost so you can enjoy the day without stretching your long-term finances.
                            </p>
                            <a class="btn btn-primary rounded-pill py-2 px-4" href="{% url 'wedding_event_loan' %}">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->

<!-- FAQs Start -->
<div class="container-fluid faq-section bg-light py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-xl-6 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="h-100">
                    <div class="mb-5">
                        <h4 class="text-primary">Some Important FAQ's</h4>
                        <h1 class="display-4 mb-0">Common Frequently Asked Questions</h1>
                    </div>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button border-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Q: Will you charge me any fees to consider my application?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show active" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body rounded">
                                    A: We don’t charge any application or upfront fees for loans.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Q: How much could i borrow?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    A: We offer loans of £1,000 to £50,000.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Q: Who can apply for a personal loan?
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    A: To apply for a personal loan, you must be a UK citizen residing in the UK, and at least 18 years of age.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 wow fadeInRight" data-wow-delay="0.4s">
                <img src="{% static 'loan_app/assets/carousel-2.png' %}" class="img-fluid w-100" alt="">
            </div>
        </div>
    </div>
</div>
<!-- FAQs End -->

<!-- Testimonial Start -->
<div class="container-fluid testimonial pb-5 mt-5">
    <div class="container pb-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary">Testimonial</h4>
            <h1 class="display-4 mb-4">What Our Customers Are Saying</h1>
            <p class="mb-0">
                At Steller Finance, we take pride in helping individuals across the UK achieve their financial goals. Whether it’s funding a wedding, consolidating debt, or managing unexpected expenses, our customers trust us to provide fast, transparent, and supportive loan services. Here's what some of them have to say about their experience with us.
            </p>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.2s">
            <div class="testimonial-item bg-light rounded">
                <div class="row g-0">
                    <div class="col-4  col-lg-4 col-xl-3">
                        <div class="h-100">
                            <img src="{% static 'loan_app/assets/testimonial-1.jpg' %}" class="img-fluid h-100 rounded" style="object-fit: cover;" alt="">
                        </div>
                    </div>
                    <div class="col-8 col-lg-8 col-xl-9">
                        <div class="d-flex flex-column my-auto text-start p-4">
                            <h4 class="text-dark mb-0">David Clarke</h4>
                            <p class="mb-3">Delivery Driver</p>
                            <div class="d-flex text-primary mb-3">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <p class="mb-0">
                                After my car broke down, I turned to Steller Finance. Their support team was helpful, and the loan covered all the repairs. Easy to apply, and no hidden fees. I’d recommend them without hesitation.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded">
                <div class="row g-0">
                    <div class="col-4  col-lg-4 col-xl-3">
                        <div class="h-100">
                            <img src="{% static 'loan_app/assets/testimonial-2.jpg' %}" class="img-fluid h-100 rounded" style="object-fit: cover;" alt="">
                        </div>
                    </div>
                    <div class="col-8 col-lg-8 col-xl-9">
                        <div class="d-flex flex-column my-auto text-start p-4">
                            <h4 class="text-dark mb-0">Mark Johnson</h4>
                            <p class="mb-3">IT Consultant</p>
                            <div class="d-flex text-primary mb-3">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star text-body"></i>
                            </div>
                            <p class="mb-0">
                                I used Steller Finance for a quick loan to consolidate my credit cards. The process was clear, and funds arrived in 24 hours. The repayments are manageable and hassle-free. Great service and trustworthy team!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded">
                <div class="row g-0">
                    <div class="col-4  col-lg-4 col-xl-3">
                        <div class="h-100">
                            <img src="{% static 'loan_app/assets/testimonial-3.jpg' %}" class="img-fluid h-100 rounded" style="object-fit: cover;" alt="">
                        </div>
                    </div>
                    <div class="col-8 col-lg-8 col-xl-9">
                        <div class="d-flex flex-column my-auto text-start p-4">
                            <h4 class="text-dark mb-0">Sarah Thompson</h4>
                            <p class="mb-3">Property Manager</p>
                            <div class="d-flex text-primary mb-3">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star text-body"></i>
                                <i class="fas fa-star text-body"></i>
                            </div>
                            <p class="mb-0">
                                I applied for a loan with Steller Finance for urgent home repairs. The process was smooth, funds arrived quickly, and the rates were fair. Great customer service. I’d definitely recommend them for financial support.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->    
{% endblock content %}